<h1>Test</h1>

<div class="col-12">
  <kendo-grid
    #gridComponent
    [data]="gridDossiers"
    [filter]="kendoState.filter"
    [filterable]="true"
    (dataStateChange)="dataStateChange($event)"
  >
    <kendo-grid-column [width]="125" field="bureau" title="Bureau">
      <ng-template kendoGridFilterCellTemplate let-column="column" let-filter>
        <my-dropdown-filter
          [data]="bureauList"
          [column]="column"
          [filter]="filter"
          [showOperators]="false"
          width="300px"
        >
        </my-dropdown-filter>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column
      operator="startswith"
      field="noDossier"
      title="noDossier"
      [width]="120"
    >
    </kendo-grid-column>

    <kendo-grid-column [width]="125" field="description" title="description">
    </kendo-grid-column>

    <kendo-grid-column
      field="nom"
      operator="startswith"
      title="Nom"
      [width]="100"
    ></kendo-grid-column>

    <kendo-grid-column
      field="prenom"
      title="Prenom"
      [width]="130"
    ></kendo-grid-column>
  </kendo-grid>
</div>

<pre>{{kendoState | json}}</pre>

<router-outlet></router-outlet>
